<div  class="div" [formGroup]="EditTask">
<p><font  face="cursive">🌝Task Priority: {{task.taskPriority}}</font></p>
<input class="fon" type="text" size="47" formControlName="Name" autofocus>
<p>
  🙃 Create:
  {{task.taskTimeCreate | date: 'dd.MMM.yyyy, HH:mm'}}
</p>
<p *ngIf="task.taskTimeConfirm">
  ✔ Confirm:
  {{task.taskTimeConfirm | date: 'dd.MMM.yyyy, HH:mm'}}
</p>
<p *ngIf="task.taskTimeCancel">
  ✖ Cancel:
  {{task.taskTimeCancel | date: 'dd.MMM.yyyy, HH:mm'}}
</p>
<p>
  <button class="btnOK" routerLink="" routerLinkActive="active" (click)="onClickSaveEdit()">💿Save Edit</button>
  <button class="btnNO" routerLink="" routerLinkActive="active">🚫Back without saving</button>
</p>
</div>
