<p [formGroup]="FormTaskNameAndPtiority">
  <input type="text" size="47" formControlName="taskName" placeholder="Add new task..." id="input" autofocus>

  <select id="slt" formControlName="taskPriority">
    <option value="high">High</option>
    <option value="normal">Normal</option>
    <option value="low">Low</option>
  </select>

  <button id="add" [disabled]="!inputControl.valid" (click)="onClickAdd()">Add</button>
</p>

<p [formGroup]="FormFilterStat">
  <input type="checkbox" id="completed" value="completed" (change)="onClickCheck()" formControlName="completed">Complete
  <input type="checkbox" id="high" value="high" (change)="onClickCheck()" formControlName="high">High
  <input type="checkbox" id="normal" value="normal" (change)="onClickCheck()" formControlName="normal">Normal
  <input type="checkbox" id="low" value="low" (change)="onClickCheck()" formControlName="low">Low

  <button id="filterDate" (click)="onClickSort()">Sort by date</button>
</p>
