<h2>My Tasks</h2>
<ul>
  <div id="out" class="div">
  <li *ngFor="let task of tasksFiltered">
    {{task.taskPriority | uppercase}} {{task.tasksName}} Create: {{ task.taskTimeCreate | date: 'dd.MMM.yyyy, HH:mm' }}
    <p *ngIf="task.taskTimeConfirm">
      Confirm: {{task.taskTimeConfirm | date: 'dd.MMM.yyyy, HH:mm' }}
    </p>
    <p *ngIf="task.taskTimeCancel">
      Cancel: {{task.taskTimeCancel | date: 'dd.MMM.yyyy, HH:mm' }}
    </p>
    <p>
    <button id="ok" (click)="onClickOk(task.taskId)">OK</button>
    <button id="no" (click)="onClickNo(task.taskId)">NO</button>
    <button id="delete" (click)="onClickDelete(task.taskId)">DELETE</button>
    </p>
  </li>
  </div>
</ul>
