  <div *ngFor="let task of tasks">
  <div class="div" *ngIf="task.taskVisible">
    {{task.taskPriority}}🙃Create: {{ task.taskTimeCreate | date: 'dd.MMM.yyyy, HH:mm' }}
    <p>
      {{task.taskName}}
    </p>
    <p *ngIf="task.taskTimeConfirm">
      ✔ Confirm: {{task.taskTimeConfirm | date: 'dd.MMM.yyyy, HH:mm' }}
    </p>
    <p *ngIf="task.taskTimeCancel">
      ✖ Cancel: {{task.taskTimeCancel | date: 'dd.MMM.yyyy, HH:mm' }}
    </p>
    <p>
    <button class="btnOK" (click)="onClickOk(task.id)">✔</button>
    <button class="btnNO" (click)="onClickNo(task.id)">✖</button>
    <button class="btnDELETE" (click)="onClickEdit(task.id)" routerLink="/edit" routerLinkActive="active">🔧Edit</button>
    <button class="btnDELETE" (click)="onClickDelete(task.id)">🗑DELETE</button>
    </p>
  </div>
  </div>

